/* universal styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    margin: 0 0;
    background-color: seashell;
}

/* header */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width: 100%;
    background-color: #bfe624;
    border-bottom: 1px solid black;
    height: 75px;
}

header img {
    height: 72px;
    padding: 0 0;
}

header h1 {
    padding-left: 10px;
    margin: 0 0;
    font-family: 'Oleo script';
}

nav {
    text-align: right;
    padding-right: 20px;
    flex-grow: 1;
}

nav span {
    text-decoration: underline;
    padding: 0 20px;
}

/* banner */

.banner {
    width: 100%;
    opacity: 0.9;
    margin: auto;
    padding-top: 70px;
}

#mission {
    background-image: url(./Resources/sloths-evolutionary-secret-shocks-scientists-320417.webp);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;

}

#mission .content {
    margin-bottom: 200px;
}

.content h1 {
    font-size: 75px;
    color: white;
    margin: 0 0;
    text-shadow: 5px 5px 5px black;
}

.content p {
    color: white;
    font-size: 1.25rem;
    text-shadow: 2px 2px 2px black;
}

/* about */

.about {
    padding-top: 20px;
    border-bottom: 2px solid black;
}

.description {
    line-height: 30px;
    letter-spacing: 1px;
    text-align: left;
    padding-left: 10px;
}

.description h2 {
    padding-bottom: 20px;
    color: #bfe624;
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}

.description h5 {
    text-align: left;
    font-weight: 400;
}

/* Gallery */

#gallery {
    
    width: 1400px;
    opacity: 0.9;
    margin: 40px auto;
    padding-top: auto;
}

#gallery h2 {
    color:#bfe624;
    text-shadow: 2px 2px 2px black;
    font-size: 36px;
}

.photo {
    padding: 5px;
}

.photo img {
    width: 600px;
    height:400px;
    margin: 10px;
    display: block;
}

.photo span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.btn {
    color: white;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 4px;
    border-color: darkgreen;
    background-color: #bfe624;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgreen;
}

/*  Team */

#team {
    
    width: 100%;
    margin: 40px auto;
    padding-top: auto;
    background-image: url(./Resources/isaac-quesada-6xxxvB72qB0-unsplash\ copy.jpg);
    background-size: cover;
    text-align: center;
    margin-bottom: auto;
}

#team h2 {
    padding-top: 5px;
    color:#bfe624;
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
}

.member {
    padding: 5px;
}

.member img {
    width: 200px;
    margin: 0 40px;
}

.member h3 {
    color: white;
    text-shadow: 2px 2px 2px black;
}

/* footer */

footer {
    height: 50px;
}

.name {
    font-family: 'Oleo script'; 
}

@media screen and (max-width: 992px) {
    .flex-container {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        width: 100%;
    }
}